@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-prompt), ui-sans-serif, system-ui, sans-serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}

@layer components {
  .modal-overlay {
    @apply fixed inset-0 z-50 flex justify-center bg-black/40 sm:items-center sm:p-4 backdrop-blur-sm transition-all duration-300;
  }
  .modal-content {
    @apply w-full max-w-md bg-slate-50 flex flex-col h-full sm:h-[85vh] sm:rounded-3xl shadow-2xl relative overflow-hidden;
  }
  .card-base {
    @apply bg-white rounded-2xl p-4 shadow-sm border border-slate-100;
  }
}

@media print {
  body {
    background-color: white !important;
  }
  @page {
    margin: 1cm;
  }
}

